.main-container{
    width: 98vw;
    
}
body{
    background-color: #333a35;
    width: 98vw;
}

.grey-box{
    border-style: solid border;
    border-width: 25px;
    height: 100px;
    padding: 10px 25;
    border-bottom: 5px black;
    width: 1500px;
    
}

.navigation{
    display: flex;
    font-family: 'Muli';
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    margin-right: 55px;
    padding: 15px;    
}

.img-logo{
    width: 15px;
    margin-right: 55px;
    justify-content: space-evenly;
}

.menu{
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    margin-right: 25px;
    text-decoration: none;
 
    margin: 5px;
    height: 2px;
   
}

a {
  
    color: #ffffff;
    margin-left: 25px;
    text-decoration: none;

    
  }
.icon{
    text-decoration: none;
    flex-direction: row;
    display: flex;
    text-orientation: horizontal;
    margin-right: 200px;
    height: 2px;
}
img{
    width:75px;
    height: auto;
    
}

.symbol{
    color: #ECA419;
    margin-right: 25px;
    text-decoration: none;
    height: 2px;   
}
.fas{
    color: #ECA419;
    margin-left: 10px;
   
}

/* <!-- nav ends here --> */
/* Start Features Section */


/* End Features Section */
/* <!-- articles starts here --> */
.main-articles{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    width: 105vw;
    height: 280px;   
    background-color: #ffffff;
    padding: 10px;
             
}
.sub-articles {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

 }

.sub-articles > div {
    justify-content: space-evenly; 
    margin: -1px -25px 0px -35px;
    padding: 50px;
}

.sub-articles img{
    flex-direction: row;
    width: auto;
    height: auto;
    padding: 5px;
    margin: -25px 15px 0px 0px;
} 

h3{
    margin: auto;
    position: relative;
    padding:20px;
    padding-bottom: 5px;
    margin: 0px 5px 0px 0px;    
}

/* <!-- articles ends here --> */
/* Gears section by britt */
.gearparent {
    display: flex;
    flex-direction: column;
    background-color: #dfd6c8;
    margin: 0px 50px 0px 0px;
}
.gearparent h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eca419;
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 0px;
}
.gearparent .boxcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box {
    display:flex;
    background-color: #fff;
    width: 75%;
    height: auto; 
    margin: 3px 0px;
}

.chairs {
    background: url("../image/chairs.jpg") no-repeat;
    background-size: contain;
    width: 200px;
    height: 150px;
    margin: 25px;
}
.cooksets {
    background: url("../image/cooksets.jpg ") no-repeat;
    background-size: contain;
    width: 200px;
    height: 150px;
    margin: 25px;
}
.hats {
    background: url("../image/hats.jpg ") no-repeat;
    background-size: contain;
    width: 260px;
    height: 150px;
    margin: 25px;
}
.overlap {
    display: flex;
}
.candles{
    background: url("../image/candles.jpg ") no-repeat;
    background-size: contain;
    width: 200px;
    height: 150px;
    margin: 25px;
}
.badge {
    display: flex;
    padding-top: 150px;
    background: url("../image/badge.png ") no-repeat;
    background-size: contain;
    width: 100px;
    height: 50px;
    margin: 90px 0px 0px 50px;
}
.gearparent .boxcontainer .box .column h2{
    width: fit-content;
    text-transform: uppercase;
    margin: 30px;
    font-weight: lighter;
}
.gearparent .boxcontainer .box .column p{
    width: fit-content;
    margin: 30px;
}


/* <!-- articles ends here --> */

