
body{
    background-color: #333A35;
}
.main-container{
    width: 98vw;
    
}
/* <!-- nav starts here --> */ 
.menu  {
    display: flex;
}
.logo {
    display: flex;
    background:url(" ../image/logo.png  ");
    background-color: #333a35;
    background-size: cover;
    width: 50px;
    height: 50px;
}
ul{
    display: flex;
    align-items: flex-start;
    padding-left: 0;

}
ul li {
    display: flex;
    justify-content: space-evenly;
    width: 100px;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    list-style: none;
}

.icons {
    display: flex;
    width: 150px;
    color: #eca419;
    align-items: center;
    justify-content: space-between;
}

/* <!-- nav ends here --> */
/* Start Features Section */


/* End Features Section */
/* <!-- articles starts here --> */
.articles-main-container{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    height: 280px;   
    background-color: #ffffff;
    margin: 0px 50px 0px 0px;
     
}
.articles-sub-container{
    flex-direction: column;
    justify-content: space-around;
    width: auto;
    height: auto;
    padding: 10px;
    margin-bottom: 240px;
        
}
.img-recipes{
    background-image: url("../image/images-for-hike-project/recipes.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    width: auto;
    height: auto; 
    justify-content: space-evenly;
    padding-bottom: 3px;
    padding-top: 30px;
    margin: 20px 0px 50px 10px;
}
   
.img-tent{
    background-image: url("../image/images-for-hike-project/tent.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    width: auto;
    height: auto; 
    justify-content: space-evenly;
    padding-bottom: 3px;
    padding-top: 30px; 
    margin: 20px 0px 50px 10px; 
    
} 

.img-candles{
    background-image: url("../image/images-for-hike-project/candles.jpg");   
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    width: auto;
    height: auto; 
    justify-content: space-evenly;
    padding-bottom: 3px;
    padding-top: 30px;
    margin: 20px 0px 50px 10px
} 
.img-backpacks{
    background-image: url("../image/images-for-hike-project/backpacks.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    width: auto;
    height: auto; 
    justify-content: space-evenly;
    padding-bottom: 3px;
    padding-top: 30px;
    margin: 20px 0px 50px 10px 
} 


h3{
    margin: auto;
    position: relative;
    width: 250px;
    height: 100px;
    padding: 25px;
    padding-bottom: 10px;
    top: 120px;
}
/* <!-- articles ends here --> */
/* Gears section by britt */
.gearparent {
    display: flex;
    flex-direction: column;
    background-color: #dfd6c8;
    margin: 0px 50px 0px 0px;
}
.gearparent h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eca419;
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 0px;
}
.gearparent .boxcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box {
    display:flex;
    background-color: #fff;
    width: 75%;
    height: auto; 
    margin: 3px 0px;
}

.chairs {
    background: url("../image/chairs.jpg") no-repeat;
    background-size: contain;
    width: 200px;
    height: 150px;
    margin: 25px;
}
.cooksets {
    background: url("../image/cooksets.jpg ") no-repeat;
    background-size: contain;
    width: 200px;
    height: 150px;
    margin: 25px;
}
.hats {
    background: url("../image/hats.jpg ") no-repeat;
    background-size: contain;
    width: 260px;
    height: 150px;
    margin: 25px;
}
.overlap {
    display: flex;
}
.candles{
    background: url("../image/candles.jpg ") no-repeat;
    background-size: contain;
    width: 200px;
    height: 150px;
    margin: 25px;
}
.badge {
    display: flex;
    padding-top: 150px;
    background: url("../image/badge.png ") no-repeat;
    background-size: contain;
    width: 100px;
    height: 50px;
    margin: 90px 0px 0px 50px;
}
.gearparent .boxcontainer .box .column h2{
    width: fit-content;
    text-transform: uppercase;
    margin: 30px;
    font-weight: lighter;
}
.gearparent .boxcontainer .box .column p{
    width: fit-content;
    margin: 30px;
}







