body{
    background-color: #333a35;
}

.navigation{
    display: flex;
    text-orientation: horizontal;
    justify-content: flex-start;
    float: left
    font-family: 'Muli';
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
	font-style: normal;
	font-weight: normal;
	text-transform: normal;
    letter-spacing: normal;  
    margin-right: 55px;
    padding: 15px;    
}

.logo{
    width: 15px;
    margin-right: 55px;
    justify-content: space-evenly;
}
.menu{
    color: #ffffff;
    display: block;
    justify-content: space-evenly;
    margin-right: 100px;
    text-decoration: none;
    padding: 15px;
}

/* a {
  
    color: #ffffff;
    display: block;
    margin-left: 50px;
    text-decoration: none;
    /* background-color: red; */
    /* padding: 20px;
  } */
.icon{
    text-decoration: none;
    flex-direction: row;
    /* display: inline-block;
    padding: 20px;
    line-style-type: none; */
    display: flex;
    text-orientation: horizontal;
    justify-content: space-around;
    margin-right: 100px;

}
img{
    width:75px;
    height: auto;
    
}
.fab{
    color: #ECA419;
    margin-left: 10px;
 
    
}
.fas{
    color: #ECA419;
    margin-left: 10px;
   
}
/* Gears section by britt */
.gearparent {
    display: flex;
    flex-direction: column;
    background-color: #dfd6c8;
    margin: 0px 50px 0px 0px;
}
.gearparent h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eca419;
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 0px;
}
.gearparent .boxcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box {
    display:flex;
    background-color: #fff;
    width: 65%;
    margin: 3px 0px;
}
.gearparent .box img {
    margin:30px;
}
.gearparent .boxcontainer .box .column h2{
    width: fit-content;
    text-transform: uppercase;
    margin: 30px;
    font-weight: lighter;
}
.gearparent .boxcontainer .box .column p{
    width: fit-content;
    margin: 30px;
}
.gearparent .boxcontainer .box .main{
    position: relative;
    top: 0;
    left: 0;
}
.gearparent .boxcontainer .box .overlay {
    position: absolute;
    top: 1075px;
    left: 320px;
}